{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <section class="bloco-azul">
  <div class="conteudo">
    <h2>Atendimento personalizado e focado.</h2>
    <p>
      Nosso escritório está na Zona Sul, próximo ao Centro Empresarial, Morumbi,
      Moema, Vila Andrade e Santo Amaro.
    </p>
    <p>
      Atendemos toda a Região Metropolitana de São Paulo e também a Baixada Santista, consulte-nos.
    </p>
  </div>
  <div class="curva"></div>
</section>
        </main>
    </div>
{% endblock %}